
/*boilerpalte*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,
body{
    height:100%;
    width:100%;
}
/*..boilerplate end */
/* for black background start*/
:root{
    --bg-primary-color:#0c0c0c;
    --text-primary-color:#f0f0f0;
    /*spacing variables....*/
    /*border color*/
    /*border radius*/
}

html{
    background-color:var(--bg-primary-color);
    color:var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
/* for black background end*/
main,
section{
    width:100%;
    height:100%;
}
section{
    padding:40px;
     display:flex;
    flex-direction:column;
    height:100%;
    background-color: rgb(0, 3, 4);
}
    section .info{
           width:100%;  /*why*/
    display:flex;/* THIS is what places the 3 items side-by-side */
    justify-content:space-between;/*barabar distance pe*/

}
.board{
    border:1px solid white; 
    flex-grow:1;
    display:grid;
   grid-template-columns:repeat(auto-fill,minmax(30px,1fr));/*thori dikkt*/
    grid-template-rows: repeat(auto-fill,minmax(30px),1fr);/*thori dikkt*//*even distribution for fr*/
}
.block{
    width:30px;
    height: 30px;
    border:1px solid white;
    font-size: 8px;
}
.fill{
    background-color: green;
}
/*.infos .info {
    width:100%;
    display:flex; */      /* THIS is what places the 3 items side-by-side */
   /* justify-content:space-between;
    align-items:center;
}*/
.food{
    background-color: red;
}
/*modal ka css smjhana h aur start game ka bhi*/
.modal{
    height:100vh;
    width:100vw;
    position:fixed;
    top:0;
/*background-color: #c5c5ec;*/
backdrop-filter:blur(4px);
display:flex;
justify-content: center;
align-items: center;
}
.modal .start-game,
.modal .game-over{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.modal .game-over{
    display:none;
}

